<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.spring.ex10.PayMapper">

	<!-- 단일결제  -->
	 <insert id="insert">  
		insert into ${tbl_paydetail}(${paydetailNum}, ${cartId}, ${productId}, ${amount}
		) values(
			seq_paydetail.nextval, #{cartId}, #{productId}, #{amount}
		)
	 </insert>  
	 
	 <!-- 장바구니 결제  -->
	 <insert id="insertDetail">  
		insert into ${tbl_paydetail}(${paydetailNum}, ${cartId}, ${productId}, ${amount}
		) select seq_paydetail.nextval, #{cartId}, ${productId}, ${amount} 
			from tbl_cart		
	 </insert> 
	
	 <!-- 쿠폰 목록  -->
	 <select id="listECart" resultType="ECartVO">
	 	select
	 		c.ecart_id as ecartId,
	 		c.user_id as userId,
	 		e.event_id as eventId,
	 		m.user_name as userName,
	 		e.event_name as eventName,
	 		e.event_url as eventUrl,	 		
	 		e.event_price as eventPrice
	 		<!--(product_price * amount) money  --> 
	 	from 
	 		tbl_member m, tbl_event e, tbl_ecart c
	 	where m.user_id = c.user_id
	 		and e.event_id = c.event_id
	 		and c.user_id = #{userId}	 	
	 	order by c.ecart_id
	 </select>
	 
	 <!-- 장바구니 결제 목록  -->
	 <select id="lisePayDetail" resultType="PayDetailVO">
	 	select	 		
	 		m.user_id as userId,
	 		p.product_id as productId,
	 		m.user_name as userName,	 		
	 		p.product_name as productName,
	 		p.product_url as productUrl,	 		
	 		p.product_price as productPrice,            
            d.paydetail_num as paydetail_num,
            d.amount,
            (product_price * amount) money
	 	from 
	 		tbl_member m, tbl_product p, tbl_paydetail d 
	 	where  
            p.product_id = d.product_id
	 		and m.user_id = #{userId}
	 	order by d.paydetail_num desc
	 </select>
	 
	 
	 <!-- 장바구니 목록  -->
	 <select id="listCart" resultType="CartVO">
	 	select
	 		c.cart_id as cartId,
	 		c.user_id as userId,
	 		p.product_id as productId,
	 		m.user_name as userName,
	 		p.product_name as productName,
	 		p.product_url as productUrl,
	 		c.amount,
	 		p.product_price as productPrice,
	 		(product_price * amount) money 
	 	from 
	 		tbl_member m, tbl_product p, tbl_cart c
	 	where m.user_id = c.user_id
	 		and p.product_id = c.product_id
	 		and c.user_id = #{userId}	 	
	 	order by c.cart_id
	 </select>
	 
	 <!-- 상품 목록  -->
	 <select id="detailProduct" resultType="ProductVO">
	 	select * from ${tbl_product} where ${productId} = #{productId}	 	
	 </select>
	 	 
	 <!--  결제 전체 금액  -->
	 <select id="sumMoney" resultType="int">
	 	select NVL(sum(product_price * amount), 0) money
	 	from tbl_cart c, tbl_product p
	 	where c.product_id = p.product_id and c.user_id = #{userId}	 	
	 </select>
	 
	 <!-- 단일 결제 전체 금액  -->
	 <select id="sumMoney2" resultType="int">
	 	select NVL(sum(product_price * amount), 0) payPrice
	 	from tbl_product p
	 	where ${productId} = #{productId}	 		 	
	 </select>
	 
	 <!-- 카트 비우기 -->
	<delete id="cartAllDelete">
 		delete tbl_cart
    	 where ${userId} = #{userId}
	</delete>
	 

</mapper>













